@{ 
    ViewBag.Title = "EnterOTP";
}

<h2>Enter OTP</h2>

<input type="text" id="enterOtp" placeholder="ENTER OTP" class="form-control"/>
<a href="#" onclick="verifyOTP()" class="btn btn-primary">OKAY</a>

<script>
    var verifyOTP = function () {
        var otp = $("#enterOtp").val();

        $.ajax({
            url: "/Login/VerifyOtp",
            data: { otp: otp },
            type: "post",
            success: function (data) {
                debugger
                if (data == true) {
                    alert("Verification Successful");
                    window.location = "/Login/Index";
                }
                else {
                    alert("Verification failed");
                }
            }
        });

    }
</script>