@model EToken.Models.Customer


@{
    ViewData["Title"] = "CreateConfirmation";
}

<h3>Thank you <b> MR.@Model.CustomerName </b> For  registering with E-Token solutions </h3>

<h3> Your token no is :<b> @Model.CustomerTokenNumber</b></h3>